html {
	font-size: 16px;
	font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--thead);
	margin: 0px;
	font-weight: 600;
	line-height: 140%;
	scroll-margin-top: 64px;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
}
* + h2 {
	margin-top: 0.8em;
}
* + h3 {
	margin-top: 0.7em;
}
* + h4 {
	margin-top: 0.7em;
}
* + h5 {
	margin-top: 0.6em;
}
* + h6 {
	margin-top: 0.6em;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 1em;
}
div + h1,
div + h2,
div + h3,
div + h4,
div + h5,
div + h6 {
	margin-top: 0;
}
p {
	margin: 0;
}
li {
	position: relative;
	display: list-item;
	width: 100%;
	padding-left: 16px;
	font-weight: 400;
	margin-bottom: 15px;
	&::marker {
		color: var(--hover);
		font-weight: 600;
	}
}
ul {
	padding-left: 10px;

	li {
		list-style-type: none;
		color: var(--text);
		margin: 0px;
		margin-bottom: 0.5em;
	}
}
ol {
	padding-left: 24px;

	li {
		padding-left: 4px;
		list-style-position: outside;
	}
}
* + p {
	margin-top: responsive(8, 16);
	@media (min-width: 1280px) {
		margin-top: 16px;
		
	}
	margin-bottom: 0;
}
footer p {
	margin: 0;
}
div + p {
	margin: 0;
}
h1 {
	@include responsiveFont(28, 48);
}

h2 {
	@include responsiveFont(24, 34);
}

h3 {
	@include responsiveFont(22, 30);
}

h4 {
	@include responsiveFont(20, 26);
}

h5 {
	@include responsiveFont(18, 22);
}

h6 {
	@include responsiveFont(16, 18);
}

tbody {
	h2 {
		@include responsiveFont(16, 20);
	}
	h3 {
		@include responsiveFont(15, 18);
	}
	h4 {
		@include responsiveFont(14, 16);
	}
	h5 {
		@include responsiveFont(13, 15);
	}
	h6 {
		@include responsiveFont(12, 14);
	}
}
p,
ul li,
ol li,
option {
	@include responsiveFont(14, 16);
}
strong {
	font-weight: 600;
	@include responsiveFont(16, 18);
}
.si {
	font-size: 12px;
	font-style: italic;
}
.s {
	font-size: 12px;
}
.header_mob_contact {
	@include responsiveFont(14, 16);
}
p span {
	color: var(--stars);
}
a {
	text-decoration: none;
	color: var(--thead);
	transition: all 0.3s;
	&:hover {
		color: var(--hover);
	}
	&:active {
	}
}
.aauthor__two {
	@include responsiveFont(11, 16);
}

.c-alert {
	color: var(--alert);
}
.c-stars {
	color: var(--stars);
}
