html {
	font-size: 16px;
	font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--thead);
	margin: 0px;
	font-weight: 600;
	line-height: 130%;
}
* + h2 {
	margin-top: 0.8em;
}
* + h3 {
	margin-top: 0.7em;
}
* + h4 {
	margin-top: 0.7em;
}
* + h5 {
	margin-top: 0.6em;
}
* + h6 {
	margin-top: 0.6em;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 1em;
}
div + h1,
div + h2,
div + h3,
div + h4,
div + h5,
div + h6 {
	margin-top: 0;
}
p {
	margin: 0;
}
li {
	position: relative;
	display: list-item;
	width: 100%;
	padding-left: 16px;
	font-weight: 400;
	margin-bottom: 15px;
	&::marker {
		color: var(--hover);
		font-weight: 600;
	}
}
ul {
	padding-left: 10px;

	li {
		list-style-type: none;
		color: var(--text);
		margin: 0px;
		margin-bottom: 0.5em;
	}
}
ol {
	padding-left: 24px;

	li {
		padding-left: 4px;
		list-style-position: outside;
	}
}
* + p {
	margin-top: 0.5em;
	margin-bottom: 0;
}
div + p {
	margin: 0;
}
h1 {
	font-size: calc(28px + (12 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 40px;
	}
}

h2 {
	font-size: calc(24px + (10 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 34px;
	}
}

h3 {
	font-size: calc(22px + (8 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 30px;
	}
}

h4 {
	font-size: calc(20px + (6 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 26px;
	}
}

h5 {
	font-size: calc(18px + (4 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 22px;
	}
}

h6 {
	font-size: calc(16px + (2 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 18px;
	}
}
tbody {
	h2 {
		font-size: calc(16px + (4 * ((100vw - 320px) / (1280 - 320))));
		@media (min-width: 1280px) {
			font-size: 20px;
		}
	}
	h3 {
		font-size: calc(15px + (3 * ((100vw - 320px) / (1280 - 320))));
		@media (min-width: 1280px) {
			font-size: 18px;
		}
	}
	h4 {
		font-size: calc(14px + (2 * ((100vw - 320px) / (1280 - 320))));
		@media (min-width: 1280px) {
			font-size: 16px;
		}
	}
	h5 {
		font-size: calc(13px + (2 * ((100vw - 320px) / (1280 - 320))));
		@media (min-width: 1280px) {
			font-size: 15px;
		}
	}
	h6 {
		font-size: calc(12px + (2 * ((100vw - 320px) / (1280 - 320))));
		@media (min-width: 1280px) {
			font-size: 14px;
		}
	}
}
p,
ul li,
ol li,
option {
	font-size: calc(14px + (2 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 16px;
	}
}
strong {
	font-size: calc(16px + (2 * ((100vw - 320px) / (1280 - 320))));
	font-weight: 600;

	@media (min-width: 1280px) {
		font-size: 18px;
	}
}
.si {
	font-size: 12px;
	font-style: italic;
}
.s {
	font-size: 12px;
}
.header_mob_contact {
	font-size: calc(14px + (2 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 16px;
	}
}
p span {
	color: var(--stars);
}
a {
	text-decoration: none;
	color: var(--thead);
	transition: all .3s;
	&:hover {
		color: var(--hover);
	}
	&:active {
	}
}
.aauthor__two {
	font-size: calc(11px + (5 * ((100vw - 320px) / (1280 - 320))));
	@media (min-width: 1280px) {
		font-size: 16px;
	}
}

.c-alert {
	color: var(--alert);
}
.c-stars {
	color: var(--stars);
}