vendor
wordpress
node_modules
wp-config1.php
composer.lock
yarn.lock
package-lock.json
**/.yarn/**
**/.pnp.cjs
**/.pnp.loader.mjs
**/.yarnrc.yml

**/cache/
app/plugins/
!app/plugins/carbon-fields/
!app/plugins/wp-rocket/
app/upgrade/
**/assets/*.*
**PrivateConstants.php
ajax**.php