vendor
wordpress
node_modules
wp-config1.php
composer.lock
**/cache
/app/plugins
!important**/carbon-fields
!important**/wp-rocket
/app/upgrade
**/inc/Ajax*
**/assets
!important**/assets/images
yarn.lock