.blog {
	.section__content {
		display: flex;
		justify-content: center;
		gap: 32px;
		flex-wrap: wrap;
	}
	&__container {
		flex: 1 1 400px;
	}
	&__aside {
		position: sticky;
		width: 296px;
		height: fit-content;
		top: 120px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	&__date {
		padding: 4px 12px;
		font-size: 12px;
	}
	&__title {
		padding: 4px 12px;
		font-size: 16px;
	}

	.ajax-load-more-wrap {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	.alm-listing {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px 2%;
		.blog__item {
		}
		& > a {
			height: 400px;
		}
		& > a:nth-child(10n + 1) {
			grid-column: span 2;
		}
		& > a:nth-child(10n + 7) {
			grid-column: span 2;
		}

		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			& > a:nth-child(n + 1) {
				grid-column: unset;
			}
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
			& > a:nth-child(n + 1) {
				grid-column: unset;
			}
		}
	}
	.wp-post-image {
		height: 70%;
	}
	img {
		object-fit: cover;
	}
	.alm-listing .alm-reveal::after {
		content: unset;
	}
}
