* .toc {
	
}
.toc {
	padding-bottom: 12px;
	&_sum {
		padding: 8px 12px;
		border-radius: 12px;
		color: var(--thead);
		transition: all .1s;

		box-shadow: 0 2px 12px 0px var(--box-shadow),
			inset 0 0px 0px 0px var(--box-shadow);
		&:hover {
			box-shadow: 0 2px 12px 4px var(--box-shadow),
				inset 0 0px 0px 0px var(--box-shadow);
			color: var(--hover);
		}
		&:active {
			box-shadow: 0 0px 0px 0px var(--box-shadow),
				inset 0 2px 12px 0px var(--box-shadow);
		}
	}
	&_list {
		padding: 12px;
		border-radius: 12px;
		box-shadow: inset 0 2px 12px 0px var(--box-shadow);
	}
	&-h3 {
		margin-left: 24px;
	}
}

.toc-prc__menu {
	position: relative;
	background: var(--bg-opacity);
	gap: 12px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 12px;

	& > * {
		padding: 8px 12px;
		border-radius: 8px;
		min-width: 140px;
		text-align: center;
		transition: all .1s;

		box-shadow: 0 2px 12px 0px var(--box-shadow),
			inset 0 0px 0px 0px var(--box-shadow);
		&:hover {
			box-shadow: 0 2px 12px 4px var(--box-shadow),
				inset 0 0px 0px 0px var(--box-shadow);
		}
		&:active {
			box-shadow: 0 0px 0px 0px var(--box-shadow),
				inset 0 2px 12px 0px var(--box-shadow);
		}
	}
}
.breadcrumbs + .toc-prc__menu {
	margin-top: 24px;
}
