.promoline {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background: var(--promo);
	height: 48px;
	width: 100%;
	text-align: center;
	* {
		display: inline-block;
	}
	&__img {
		height: 40px;
		width: 32px;
	}
	h5 {
		margin: 0;
		@include responsiveFont(16, 22);
	}
}