.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	h4 {
		width: 100%;
	}
	&__c {
		top: -16px;
		font-size: 12px;
		font-weight: 400;
	}
	&_big {
		position: relative;
		// max-width: 800px;
		// margin: auto;
		gap: 8px;
		justify-content: space-between;
		// backdrop-filter: blur(8px);
		&-c {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			justify-content: space-between;
			position: relative;
			@include responsiveGap(12, 20);
		}

		label,
		.form_select {
			flex: 1 1 300px;
		}
		.form__number {
			flex: 0 0 124px;
		}
		.form__deadline {
			flex: 1 1 154px;
		}
		.form__payments {
			margin: auto;
			gap: 4px 16px;
			& > * {
				flex: 0 1 72px;
			}
		}
		.form__email, .form__phone, .form__kontakt {
			flex: 1 1 200px;
		}
	}
	&_medium {
		height: 100%;
		width: 100%;
		gap: 12px;

		label,
		.form_select {
			flex: 1 1 150px;
		}
		.form__email,
		.form__phone {
			flex: 1 1 150px;
		}
		.form__kontakt {
			flex: 1 1 100%;
			padding: 0 0 0 calc(50% + 8px);
			display: flex;
			@media screen and (max-width: 698px) {
				padding: 0;
			}
		}
	}
	&_small {
		label,
		.form_select {
			flex: 1 1 200px;
		}
	}
	&__kontakt {
		font-size: 12px;
	}
	&_care {
		width: 100%;
		height: 100%;
		gap: 12px;
		.form__order {
			flex: 1 1 150px;
		}
		.form__email {
			flex: 1 1 280px;
		}
	}
	&_author {
		position: relative;
		gap: 24px;
		max-width: 800px;

		& > :nth-child(-n + 4) {
			flex: 1 1 300px;
		}
	}
	&__heading {
		// width: ;
		z-index: 1;
	}
	// Звездочки
	.req_star::before {
		content: "*";
		color: red;
		position: absolute;
		left: 26px;
		z-index: 1;
		top: 4px;
	}
	.form__number::before {
		content: "*";
		color: red;
		position: absolute;
		left: 24px;
		z-index: 1;
		top: 4px;
	}
	.c_btn__left {
		position: absolute;
		width: 20px;
		height: 100%;
		left: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--hoverb);
		color: var(--bg);
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
	.c_btn__right {
		position: absolute;
		width: 20px;
		height: 100%;
		right: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--hoverb);
		color: var(--bg);
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	&__desc {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		height: 16px;
		width: 16px;
		top: -8px;
		left: -8px;
		border-radius: 50%;
		background: var(--bg-wave);
		color: var(--bg);
		z-index: 1;
		&_t {
			display: none;
			position: absolute;
			background: var(--thead);
			border-radius: 4px;
			width: 200px;
			bottom: 28px;
			left: 0px;
			padding: 4px;
			p {
				font-size: 12px;
				color: white;
				z-index: 3;
			}
			&::before {
				content: "";
				display: flex;
				position: absolute;
				width: 20px;
				height: 20px;
				background: var(--thead);
				bottom: 0px;
				left: 8px;
				transform: skewY(-50deg);
				z-index: 2;
			}
		}
		&:hover {
			.form__desc_t {
				display: flex;
			}
		}
	}
	&__icon {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 8px;
		width: 16px;
		height: 16px;
		// background: var(--text);
		color: var(--text);
		border-radius: 4px;
		z-index: 1;
	}
	&_select {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
		margin: 0 auto;

		.nice-select {
			padding-left: 32px;
			padding-right: 20px;
			background: var(--border);
			border: 1px solid var(--border);
			font-size: 16px;

			&:focus {
				border: 1px solid var(--hover);
			}
			&.open {
				border: 1px solid var(--hover);
			}
		}
		.option {
		}
	}
	select {
		position: absolute;
		width: 4px !important;
		height: 4px !important;
		border: 0px;
	}
	label {
		position: relative;
		display: flex;
		// justify-content: space-between;
		align-items: center;
		// margin-bottom: auto;
		flex-wrap: wrap;
		width: 100%;
		gap: 8px;
	}
	textarea {
		width: 100%;
		height: 100px;
	}
	&__text {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		&-c {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		p > span {
			color: red;
		}
		&-p {
			width: auto;
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			color: var(--hoverb);
			margin-left: 32px;
			margin-right: 32px;
			flex: 1 1 200px;
			span {
				font-size: 44px;
			}
		}
		&-s {
			flex: 1 1 400px;
		}
	}
	
	&__guarant {
		width: auto;
		display: flex;
		gap: 4px;
		align-items: center;

		a {
			font-size: 12px;
		}
	}
	&__shield {
		height: 20px;
		width: 20px;
	}
	input:not([type="submit"]):not([type="checkbox"]) {
		background: var(--border);
		padding: 8px 12px;
		border-radius: 8px;
		outline: none;
		// border-top: 1px solid #0000;
		// border-right: 1px solid #0000;
		// border-left: 1px solid #0000;
		border: 1px solid var(--border);
		width: 100%;
		transition: all 0.5s;
		color: var(--thead);
		font-weight: 500;
		height: 40px;

		&::placeholder {
			color: var(--text);
			opacity: 1;
			font-weight: 300;
		}
		&:focus-visible {
			border: 1px solid var(--hover);
			background: var(--bg);
		}
	}
	input[type="number"] {
		text-align: center;
	}
	textarea {
		background: var(--border);
		border: 1px solid var(--border);
		border-radius: 8px;
		padding: 8px;
		&::placeholder {
			color: var(--text);
			opacity: 1;
			font-weight: 300;
		}
		&:focus-visible {
			outline: none;
			border: 1px solid var(--hover);
			background: var(--bg);
		}
	}

	&__sending {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		justify-content: center;
		align-items: center;
		background: var(--bg-opacity);
		z-index: 3;
		border-radius: 12px;
		& > img {
			width: 64px;
			height: 64px;
		}
	}
	&__disabled {
		position: relative;
		display: none;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		text-align: center;
		// padding: 12px;
		width: 100%;
		max-width: 600px;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: 12px;
		// background: var(--bg);
		z-index: 3;

		span {
			color: var(--alert);
		}
	}
	&__sent {
		width: 50%;

		p {
			font-size: 14px;
		}
	}
	// При отправке
	&._sending {
		.btn {
			display: none;
		}
		.form__sending {
			display: flex;
		}
	}

	// После отправки
	&._disabled {
		& > * {
			display: none;
		}
		.btn {
			display: none;
		}
		.form__disabled {
			display: flex;
		}
	}

	// Отступы если иконка
	.form__icon ~ input,
	.form__icon ~ .form_select__title {
		padding-left: 32px !important;
	}
	.form__theme {
		flex: 1 1 100%;
	}

	// ITI
	// .iti__country,
	// .iti__divider {
	// 	display: list-item;
	// 	&::before {
	// 		content: unset;
	// 	}
	// }
	// .iti {
	// 	width: 100%;
	// }

	// DatePicker
	.datepicker .datepicker-picker {
		border-radius: 8px;
		overflow: hidden;
	}
	.datepicker-header .datepicker-controls {
		padding: 0;
	}
	.datepicker-cell.selected,
	.datepicker-cell.selected:hover {
		background-color: var(--hoverb);
	}
	.datepicker
		.datepicker-picker
		.datepicker-header
		.datepicker-controls
		button {
		background: var(--hoverb);
		border: none;
		color: var(--bg);
		padding: 4px;
	}
	&__payments {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		justify-content: center;
		width: 100%;
		& > * {
			flex: 0 1 54px;
		}
	}
	&__pluses {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		justify-content: center;
		width: 100%;
		margin-top: 8px;
		&-item {
			position: relative;
			display: flex;
			flex: 0 1 176px;
			border: 1px solid var(--border);
			border-radius: 8px;
			background: var(--tabhead);
			color: var(--thead);
			padding: 8px 8px 8px 16px;
			align-items: center;
		}
		&-c {
			display: flex;
			width: 100%;
			align-items: flex-start;
		}
		&-i {
			position: relative;
			min-width: 20px;
			max-width: 20px;
			height: 20px;
		}
	}
}

// Удаляем стандартные стрелочки
.count-input {
	-moz-appearance: textfield;
}
.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.content .form ul li::before {
	content: unset;
}

// Онлайны

.form {
	&:not(._s-online) {
		.s-online__on {
			display: none;
		}
	}
	&._s-online {
		.s-online__off {
			display: none;
		}
	}
}
