.popups {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bg-opacity);
	top: 0px;
	z-index: 5;

	transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
	& > * {
		display: none;
	}
	&._active {
		visibility: visible;
		opacity: 1;
	}
	& :first-child {
	}
}
.popup._active {
	display: flex;
}
.popup_x {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	right: 24px;
	top: 8px;
	z-index: 4;
	& > :first-child {
		position: absolute;
		width: 30px;
		height: 3px;
		transform: rotate(45deg);
		background: var(--hoverb);
	}
	& > :last-child {
		position: absolute;
		width: 30px;
		height: 3px;
		transform: rotate(-45deg);
		background: var(--hoverb);
	}
}
.popup__bigform,
.popup__bigpromo {
	position: relative;
	flex-wrap: wrap;
	max-width: 100%;
	max-height: 100%;
	border-radius: 12px;
	padding: 56px 24px 24px 24px;
	overflow-y: auto;
	width: 800px;
	.form_big {
		@include responsiveGap(12px, 24px);
	}
}
.popup__bigpromo {
	h4 {
		text-align: center;
		max-width: 650px;
	}
	&__sub {
		display: flex;
		flex-wrap: wrap;
	}
	&__img {
		flex: 1 0 80px;
		padding: 16px;
	}
	&__text {
		flex: 1 0 280px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
// Попапчики
.popup__call,
.popup__lift {
	position: fixed;
	height: 60px;
	width: 60px;
	bottom: 24px;
	border: 2px solid var(--thead);
	border-radius: 50%;
	box-shadow: 0px 2px 8px var(--shadow-header);
	justify-content: center;
	align-items: center;
	transition: all .5s;
	// backdrop-filter: blur(8px);
	overflow: hidden;
	z-index: 2;
	// @media (min-width: 1280px) {
	// 	z-index: 4;
	// }
}
.popup__call {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0px;
	right: 24px;
	font-size: 24px;
	background: var(--whatsapp);
	border: 2px solid var(--hoverb);
	color: var(--bg);
	padding: 4px 12px;

	span {
		position: absolute;
		left: 44px;
		visibility: hidden;
		width: 128px;
		opacity: 0;
		transition: opacity 1s;
		font-size: 14px;
		// font-weight: 600;
	}
	&:hover {
		color: var(--bg);
		width: 200px;
		border-radius: 8px;
		gap: 12px;
		justify-content: flex-start;

		span {
			visibility: visible;
			opacity: 1;
		}
	}
}
.b24-widget-button-wrapper.b24-widget-button-position-bottom-right {
	right: 24px;
	bottom: 24px;
}
.popup__lift {
	display: none;
	left: 24px;
	background: var(--bg);
	&:hover {
		color: var(--bg);
		border: 2px solid var(--hoverb);
	}
	&._sticky {
		display: flex;
	}
}
.popup__box {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 100px;
	left: 22px;
	border: unset;
	background: unset;
	z-index: 2;
	&-img {
		animation: swinging 3s infinite;
	}
	&-text {
		position: fixed;
		display: none;
		flex-direction: column;
		bottom: 150px;
		left: 20px;
		width: 280px;
		background: var(--thead);
		padding: 8px 12px;
		border-radius: 4px;
		p,
		span {
			color: var(--bg);
		}
		li::before {
			content: "";
			position: absolute;
			top: 10px;
			left: 0px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: var(--bg);
		}
	}
	.btn {
		align-self: center;
	}
	&:hover .popup__box-text {
		display: flex;
	}
	@media (min-width: 720px) {
		display: none;
	}
}
.popup__delayed-gift {
	position: fixed;
	width: 629px;
	height: 635px;
	z-index: 2;
	bottom: 100px;
	transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
	transform: scale(0.7);
	transform-origin: left bottom;
	& > img {
		position: absolute;
	}
	.btn {
		bottom: 20px;
		position: absolute;
		left: calc(50% - 86px);
	}
	.popup__box-img {
		height: 80px;
		width: unset;
		right: 70px;
		bottom: 30px;
	}
	&._active {
		visibility: visible;
		opacity: 1;
	}
	.popup_x {
		top: 24px;
	}
}
.popup__cookie {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 0;
	bottom: 0;
	padding: 0;
	background: var(--border);
	overflow: hidden;
	transition: all 0.5s;
	z-index: 5;
	p {
		text-align: center;
		color: var(--thead);
		font-weight: 600;
		@include responsiveFont(12px, 20px);
	}
	&_btn {
		background: var(--hoverb);
		border: 2px solid var(--bg);
		z-index: 5;
	}
	&._active {
		padding: 12px;
		height: 110px;
	}
}

.nice-select {
	.list {
		max-height: 120px;
		margin: 0;
	}
	.option {
		margin: 0;
		padding-left: 12px;
	}
}
@keyframes swinging {
	0% {
		transform-origin: center 30px;
		transform: rotate(0deg);
	}
	10% {
		transform-origin: center 30px;
		transform: rotate(20deg);
	}
	20% {
		transform-origin: center 30px;
		transform: rotate(-15deg);
	}
	30% {
		transform-origin: center 30px;
		transform: rotate(10deg);
	}
	40% {
		transform-origin: center 30px;
		transform: rotate(-5deg);
	}
	50% {
		transform-origin: center 30px;
		transform: rotate(0deg);
	}
}
