.popups {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bg-opacity);
	top: 0px;
	z-index: 5;

	transition: all 0.1s;
	visibility: hidden;
	opacity: 0;

	&>* {
		display: none;
	}

	&._active {
		visibility: visible;
		opacity: 1;
	}

	& :first-child {}
}

.popup._active {
	display: flex;
}

.popup_x {
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	right: 24px;
	top: 8px;
	z-index: 4;
	border: unset;
	background: unset;

	&>* {
		margin: 0;
		background: var(--alert);
	}

	&> :first-child {
		position: absolute;
		width: 30px;
		height: 3px;
		transform: rotate(45deg);
	}

	&> :last-child {
		position: absolute;
		width: 30px;
		height: 3px;
		transform: rotate(-45deg);
	}
}

.popup__post {
	position: relative;
	display: none;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	text-align: center;
	margin-inline: auto;
	width: 800px;
	max-width: 100%;
	max-height: 100%;
	border-radius: 12px;
	overflow-y: auto;

	p span {
		color: var(--alert);
	}

	&._active {
		display: flex;
	}
}

.popup__bigform,
.popup__bigpromo {
	position: relative;
	flex-wrap: wrap;
	max-width: 100%;
	max-height: 100%;
	border-radius: 12px;
	// padding: 56px 24px 24px 24px;
	overflow-y: auto;
	width: 800px;

	.form_big {
		@include responsiveGap(8, 12);
	}
}

.popup__bigpromo {
	h4 {
		text-align: center;
		max-width: 650px;
	}

	&__sub {
		display: flex;
		flex-wrap: wrap;
	}

	&__img {
		flex: 1 0 200px;
		padding: 16px;
	}

	&__text {
		flex: 1 0 480px;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
	}
}

// Попапчики
.popup__call,
.popup__lift {
	position: fixed;
	height: 60px;
	width: 60px;
	bottom: 24px;
	border: 2px solid var(--thead);
	border-radius: 50%;
	box-shadow: 0px 2px 8px var(--shadow-header);
	justify-content: center;
	align-items: center;
	transition: all 0.1s;
	// backdrop-filter: blur(8px);
	overflow: hidden;
	z-index: 2;
	// @media (min-width: 1280px) {
	// 	z-index: 4;
	// }
}

.popup__call {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0px;
	right: 24px;
	font-size: 24px;
	background: var(--whatsapp);
	border: 2px solid var(--hoverb);
	color: var(--bg);
	padding: 4px 12px;

	span {
		position: absolute;
		left: 44px;
		visibility: hidden;
		width: 128px;
		opacity: 0;
		transition: opacity 0.1s;
		font-size: 14px;
		// font-weight: 600;
	}

	&:hover {
		color: var(--bg);
		width: 200px;
		border-radius: 8px;
		gap: 12px;
		justify-content: flex-start;

		span {
			visibility: visible;
			opacity: 1;
		}
	}
}

.b24-widget-button-wrapper.b24-widget-button-position-bottom-right {
	right: 24px;
	bottom: 24px;
}

.popup__lift {
	display: none;
	left: 24px;
	background: var(--bg);

	&:hover {
		color: var(--bg);
		border: 2px solid var(--hoverb);
	}

	&._sticky {
		display: flex;
	}
}

.popup__cookie {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 0;
	bottom: 0;
	padding: 0;
	background: var(--border);
	overflow: hidden;
	transition: all 0.1s;
	z-index: 5;

	p {
		text-align: center;
		color: var(--thead);
		font-weight: 600;
		@include responsiveFont(12, 20);
	}

	&_btn {
		background: var(--hoverb);
		border: 2px solid var(--bg);
		z-index: 5;
	}

	&._active {
		padding: 12px;
		height: 110px;
	}
}

.nice-select {
	.list {
		max-height: 120px;
		margin: 0;
	}

	.option {
		margin: 0;
		padding-left: 12px;
	}
}

@keyframes swinging {
	0% {
		transform-origin: center 30px;
		transform: rotate(0deg);
	}

	10% {
		transform-origin: center 30px;
		transform: rotate(20deg);
	}

	20% {
		transform-origin: center 30px;
		transform: rotate(-15deg);
	}

	30% {
		transform-origin: center 30px;
		transform: rotate(10deg);
	}

	40% {
		transform-origin: center 30px;
		transform: rotate(-5deg);
	}

	50% {
		transform-origin: center 30px;
		transform: rotate(0deg);
	}
}

// Promo Mobile
.popup__box {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 100px;
	left: 22px;
	border: unset;
	background: unset;
	z-index: 2;

	.user-reminder {
		position: absolute;
		font-size: 30px;
		color: var(--hover);
	}

	.btn {
		position: absolute;
		font-size: 12px;
		padding: 4px 8px;
		align-self: center;
	}

	&-img {
		animation: swinging 3s infinite;
	}

	&-bg {
		position: fixed;
		display: none;
		flex-direction: column;
		bottom: 150px;
		left: 20px;
		width: 280px;
		background: var(--thead);
		border-radius: 4px;

		&.home {
			.user-reminder {
				right: 43%;
				bottom: 15.5%;
			}

			.btn {
				right: 17%;
				bottom: 11%;
			}
		}

		&.haus {
			.user-reminder {
				right: 43%;
				bottom: 15.5%;
			}

			.btn {
				right: 17%;
				bottom: 11%;
			}
		}

		&.bach {
			.user-reminder {}

			.btn {
				right: 30%;
				bottom: 7%;
			}
		}

		&.mast {
			.user-reminder {}

			.btn {
				right: 30%;
				bottom: 7%;
			}
		}
	}

	&:hover .popup__box-text,
	&:hover .popup__box-bg {
		display: flex;
	}

	@media (min-width: 720px) {
		display: none;
	}
}

// Promo PC
.js_delaygift {
	position: fixed;
	z-index: 5;
	bottom: 88px;
	transform: scale(0.7);
	visibility: hidden;
	opacity: 0;
	transform-origin: left bottom;
	left: 0px;

	.popup__box-img {
		height: 80px;
		width: unset;
		right: 70px;
		bottom: 30px;
	}

	&._active {
		visibility: visible;
		opacity: 1;
	}

	.popup_x {
		top: 24px;
	}

	.user-reminder {
		position: absolute;
		font-size: 56px;
		color: var(--hover);
		font-weight: 700;
	}

	.btn {
		position: absolute;
	}

	&.home {
		.user-reminder {
			top: 29%;
			right: 12%;
		}

		.btn {
			top: 56%;
			right: 6%;
		}
	}

	&.haus {
		.user-reminder {
			top: 35%;
			right: 12%;
		}

		.btn {
			top: 61%;
			right: 6%;
		}
	}

	&.bach,
	&.mast {
		.btn {
			top: 89%;
			right: 36%;
		}
	}
}