.promo {
	.section__content {
		display: flex;
		background: var(--bg-wave);
		border-radius: 12px;
		overflow: hidden;
		border: 2px solid var(--border);
		gap: unset;
	}
	&__list {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		border: none;
	}
	&__blocks {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 300px;
		// background: linear-gradient(
		// 	160deg,
		// 	#fff 0%,
		// 	#fff 45%,
		// 	#f7dcff 70%,
		// 	#d2fffe 100%
		// );
		color: var(--thead);
		@media (max-width: 920px) {
			display: none;
		}
	}
	&__input {
		display: none;
	}
	&__elem {
		display: flex;
		width: 290px;
		color: var(--bg);
		font-weight: 600;
		padding: 12px;
		z-index: 1;
		transition: all 0.1s;
		@media (max-width: 920px) {
			width: 100%;
		}
	}
	&__input:checked + .promo__elem {
		background: white;
		color: var(--hover);
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		@media (max-width: 920px) {
			border-bottom-left-radius: unset;
			border-top-right-radius: 8px;
		}
	}

	&__block {
		display: none;
		background: linear-gradient(
			160deg,
			#fff 0%,
			#fff 45%,
			#f7dcff 70%,
			#d2fffe 100%
		);
		width: 100%;
		padding: 12px;
		flex-wrap: wrap;
		color: var(--thead);
		@media (max-width: 920px) {
			display: flex;
		}
	}
	&__input:checked + .promo__elem + .promo__block {
		display: block;
		flex-wrap: wrap;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		opacity: 1;
		@media (min-width: 921px) {
			display: none;
		}
	}
	&__block {
		display: none;
		&._active {
			display: block;
		}
	}
	&__cimg {
		position: relative;
		z-index: 1;
		height: 280px;
		float: left;
		margin: 0.5em 0.5em 0 0;
		width: 280px;
		border-bottom-right-radius: 32px;
		overflow: hidden;
		img {
			object-fit: cover;
		}
	}
	&__hashtag {
		display: block;
		margin-top: auto;
		color: var(--hover);
		width: 100%;
	}
}
