.afaq {
	&__accordion {
		display: flex;
		gap: 12px;
		flex-wrap: wrap;
	}
	&__left {
		flex: 1 0 260px;
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		padding: 4px;
		box-shadow: inset 0 2px 12px 0px var(--box-shadow);
		overflow: hidden;
		gap: 4px;
	}
	&__right {
		flex: 3 0 260px;
		border-radius: 8px;
		padding: 12px;
	}
	&__btn {
		padding: 8px;
		border-radius: 8px;
		cursor: pointer;
		color: var(--thead);
		transition: all .3s;
		padding: 12px;
		background: var(--bg);
		box-shadow: 0 2px 12px 0px var(--box-shadow);
		&._active {
			color: var(--bg);
			background: var(--bg-wave);
			padding: 20px 12px;
		}
	}
	&__section {
		display: none;
		flex-direction: column;
		gap: 12px;

		h4 {
			text-align: center;
		}
		&._active {
			display: flex;
		}
	}
	&__item {
		border-radius: 8px;
		padding: 8px;
		position: relative;
		transition: all .5s;
	}
	&__check {
		position: absolute;
		z-index: -1;
	}
	&__question {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		padding: 4px 0;
		color: var(--thead);
		transition: all .5s;
		&::after {
			content: ">";
			width: 1.5em;
			height: 1.5em;
			text-align: center;
			transform: rotate(90deg);
			opacity: 1;
			transition: all .5s;
		}
	}
	&__answer {
		// height: 0px;
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition: all .5s;
		padding: 0px 4px;

		& > * {
			min-height: 0px;
		}
	}

	&__check:checked ~ &__question {
		&::after {
			transform: rotate(270deg);
		}
	}
	&__check:checked ~ &__answer {
		// height: fit-content;
		padding: 4px;
		grid-template-rows: 1fr;
	}
}
