.about {
	.section__content {
		display: flex;
		gap: 24px;
		align-items: flex-start;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
	&__organisation {
		position: sticky;
		flex: 1 0 200px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		text-align: center;
		top: 120px;
		@media (max-width: 768px) {
			position: relative;
			top: unset;
		}
	}
	&__blocks {
		flex: 3 1 400px;
	}
	&__description {
		flex: 1 1 600px;
		p {
			// text-indent: 32px;
		}
	}
	&__comment {
		display: grid;
		grid-template-columns: 80px 80px 1fr;
		background: var(--taccent);
		margin-top: 24px;
		gap: 16px 8px;
		align-items: center;
	}
	&__quote {
		height: 80px;
		align-self: flex-start;
	}
	&__text {
		grid-column: 2/4;

		&>* {
			color: var(--bg);
		}
	}
	&__photo {
		grid-column: 2/3;
		object-fit: cover;
		width: 80px;
		height: 80px;
		background: var(--bg);
		border-radius: 50%;
		box-shadow: var(--box-shadow);
		overflow: hidden;
	}
	&__name {
		grid-column: 3/4;
		color: var(--bg);
	}

	&__logo {}
	&__work {}
	&__address {}
}