.faq {
	&__accordion {
		display:flex;
		gap: 16px;
		flex-wrap: wrap;
		@media (max-width: 767px) {

		}
	}
	&__side {
		display: flex;
		flex-direction: column;
		gap: 16px;
		flex: 1 1 480px;
	}
	&__tab {
		overflow: hidden;
		width:100%
	}
	&__label {
		display: flex;
		justify-content: space-between;
		font-weight: 700;
		cursor: pointer;
		color: var(--thead);
		font-size: 1.125rem;
		line-height: 133%;
		font-weight: 600;

		&::after {
			content: "\276F";
			width: 1.5em;
			height: 1.5em;
			text-align: center;
			transform: rotate(90deg);
			opacity: 1;
			transition: all .1s;
	  }
	}
	&__answer {
		display: grid;
		grid-template-rows: 0fr;
		padding: 0;
		transition: all .1s;
		color: var(--text);
		overflow: hidden;

		& > * {
			min-height: 0px;
		}
	}
	input {
		position: absolute;
		opacity: 0;
		z-index: -1;

		&:checked {
			+ .faq__label {
				cursor: unset;

				&::after {
					transform: rotate(-90deg);
					// opacity: 0;
				}
			}
			~ .faq__answer {
				padding: 12px 0 0 0;
				grid-template-rows: 1fr;
			}
		}
	}
}