.sform {
	&__img {
		position: absolute;
		max-width: 100%;
		width: 500px;
		height: auto;
		top: 0px;
		left: 0px;
	}
	&__cont {
		width: fit-content;
		position: relative;
		position: relative;
		max-width: 800px;
		margin: auto;
		padding-top: 56px;
	}
}