.price_table {
	.section__content {
		display: flex;
		gap: 24px;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	table + table {
		margin-top: 24px;
	}

	.price_table__cont {
		flex: 1 1 300px;

		td[colspan] {
			display: none;
			color: var(--thead);
			font-weight: 500;
			padding: 12px 8px;
			text-transform: uppercase;
		}

		table {
			.fa-arrow-right-long {
				color: var(--hoverb);
				font-size: 12px;
			}
			
			tr:first-child {
				th {
					padding: 8px;
					background: var(--hoverb);
					color: var(--bg);
					font-weight: 400;
				}
			}
			tbody tr:first-child {
				td {
					color: var(--text);
					font-size: 12px;
					font-weight: 400;
					padding: 4px 8px;
				}
				td:nth-child(1) {
					width: 20%;
				}
				td:nth-child(2) {
					width: 16%;
				}
				td:nth-child(3) {
					width: 32%;
				}
				td:nth-child(4) {
					width: 32%;
				}
			}
			tbody tr:not(:first-child) {
				cursor: pointer;

				td[rowspan] {
					color: var(--thead);
					&:first-child {
						text-transform: uppercase;
						font-weight: 500;
					}
				}
				td:not([rowspan]) + td:not([rowspan]) {
					color: var(--thead);
				}
				&:hover {
					td:not([rowspan]) {
						background: var(--border);
					}
				}
			}
			th,
			td {
				border: 1px solid var(--border);
				transition: all .3s;
			}
			tfoot {
				td {
					border: unset;
					background: var(--bg);
					color: var(--text);
					text-align: start;
				}
				span {
					color: var(--hover);
					text-decoration: underline;
				}
			}
		}
		.price__plus {
			background: unset;
		}
		@media (max-width: 639px) {
			td[rowspan] {
				display: none;
			}
			td:nth-child(4) {
				display: none;
			}
			td[colspan] {
				display: table-cell;
			}
		}
	}
	&__two {
		.fa-circle-check {
			color: var(--hoverb);
			font-size: 20px;
		}
		.fa-circle-xmark {
			color: var(--alert);
			font-size: 20px;
		}
		position: sticky;
		top: 68px;
		flex: 1 1 100px;
		th {
			background: var(--alert);
			color: var(--bg);
		}
		tr:nth-child(2n) {
			background: var(--tabhead);
		}
		td {
			padding: 4px;
		}
		tr:first-child td {
			font-size: 12px;
		 }
		tr:not(:first-child) td {
			color: var(--thead);
		 }
	}

	thead,
	tfoot {
		@include responsiveFont(12, 14);
	}
}
