.busines {
	.section__content {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
	}
	&__map {
		height: 500px;
		flex: 1 0 290px;
	}
	&__text {
		flex: 0 0 100%;


		div {
			column-count: 2;
			@media (max-width: 768px) {
				column-count: 1;
			}
		}
	}
	&__register {
		display: flex;
		height: fit-content;
		max-width: 320px;
	}
	&__link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 8px 24px;
		a {
			height: 52px;
		}
	}
}
