.sform {
	&__img {
		position: absolute;
		max-width: 100%;
		width: 480px;
		height: auto;
		top: 80px;
		right: calc(50% + 220px);
	}
	&__cont {
		width: fit-content;
		position: relative;
		position: relative;
		max-width: 800px;
		margin: auto;
		padding-top: 56px;
	}
}
