.promo {
	&__list {
		position: relative;
		padding: 0;
		margin: 0;
		border: 2px solid var(--border);
		border-radius: 12px;
		width: 100%;
		transition: all .3s;
		// height: 256px;
		background: var(--bg-wave);
		// @media (max-width: 1200px) {
		// 	height: 300px;
		// }
		// @media (max-width: 1024px) {
		// 	height: 400px;
		// }
		// @media (max-width: 960px) {
		// 	height: 500px;
		// }
		// @media (max-width: 920px) {
		// 	height: unset;
		// }
	}
	&__input {
		display: none;
	}
	&__elem {
		display: flex;
		width: 290px;
		color: var(--bg);
		font-weight: 600;
		padding: 12px;
		z-index: 1;
		transition: all .3s;
		@media (max-width: 920px) {
			width: 100%;
		}
	}
	&__block {
		// display: none;
		opacity: 0;
		position: absolute;
		top: 0px;
		right: 0px;
		width: calc(100% - 290px);
		padding: 12px;
		transition: all .3s;
		overflow: hidden;
		background: linear-gradient(120deg, #ffffff 0%, #ffffff 30%, #f7dcff 65%, #d2fffe 100%);
		color: var(--thead);
		height: 100%;
		@media (max-width: 920px) {
			// display: block;
			position: relative;
			height: 0px;
			padding: 0 12px;
			width: 100%;
			opacity: 1;
		}
	}
	&__cimg {
		height: 100px;
		float: left;
		margin: .5em .5em 0 0;
		width: 100px;
	}
	&__txt {}
	&__hashtag {
		margin-top: auto;
		display: block;
		color: var(--hover);
	 }
	&__input:checked + .promo__elem {
		background: white;
		color: var(--hover);
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		@media (max-width: 920px) {
			border-bottom-left-radius: unset;
			border-top-right-radius: 8px;
		}
	}
	&__input:checked + .promo__elem + .promo__block {
		// display: block;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		opacity: 1;
		@media (max-width: 920px) {
			border-top-right-radius: unset;
			border-bottom-left-radius: 8px;
			// height: 236px;
		}
		// @media (max-width: 768px) {
		// 	height: 330px;
		// }
		// @media (max-width: 750px) {
		// 	height: 174px;
		// }
		// @media (max-width: 640px) {
		// 	height: 206px;
		// }
		// @media (max-width: 540px) {
		// 	height: 242px;
		// }
		// @media (max-width: 480px) {
		// 	height: 260px;
		// }
		// @media (max-width: 480px) {
		// 	height: 366px;
		// }
		// @media (max-width: 340px) {
		// 	height: 368px;
		// }
		// @media (max-width: 320px) {
		// 	height: 428px;
		// }
	}
}