.first {
	background: linear-gradient(45deg, white, var(--box-shadow));
	// overflow: hidden;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		z-index: 1;
		min-height: 280px;
		margin: 40px auto;
	}
	&__header {
		flex: 0 1 670px;
		position: relative;
		z-index: 1;
		padding: 8px;
		
		@media (max-width: 920px) {
			border-radius: 12px;
		}
		.btn {
			width: fit-content;
			margin-top: 24px;
		}
	}
	&__guarantees {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		margin-top: 32px;
		text-underline-offset: 4px;

		span {
			display: flex;
			cursor: pointer;
			gap: 8px;
			align-items: center;
			flex: 1 1 240px;
			font-weight: 600;
			color: var(--thead);
			text-decoration: underline dashed;
			&:hover {
				color: var(--hover);
			}
		}
		img {
			height: 24px;
			width: 24px;
		}
	}
	&__side {
		position: relative;
		display: flex;
		max-width: 450px;
		// height: 400px;
		flex-direction: column;
		// backdrop-filter: blur(8px);
		// margin-right: 42px;
		z-index: 1;
		@media (max-width: 1279px) {
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 64px;
		}
	}
	&__img {
		position: absolute;
		right: 0;
		top: -60px;
		height: calc(100% + 120px);
		@media (max-width: 920px) {
			// opacity: 0.3;
			display: none;
		}
	}
	&__hat {
		position: absolute;
		width: 165px;
		top: -60px;
		right: -41px;
		height: 180px;

		@media (max-width: 920px) {
			width: 100px;
			top: -38px;
			right: 0;
			height: 110px;
		}
	}
}
