.sform {
	&__img {
		position: absolute;
		max-width: 100%;
		width: 480px;
		height: auto;
		top: 80px;
		right: calc(50% + 220px);
		@media (max-width: 1200px) {
			display: none;
		}
	}
	&__cont {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		width: fit-content;
		position: relative;
		position: relative;
		max-width: 800px;
		margin: auto;
		padding-top: 56px;
	}
}
