.price_table {
	.section__content {
		display: flex;
		gap: 24px;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	table + table {
		margin-top: 24px;
	}

	.price_table__cont {
		flex: 1 1 500px;

		table {
			tr:first-child {
				th {
					padding: 8px;
					background: var(--hoverb);
					color: var(--bg);
					font-weight: 400;
				}
			}
			tbody tr:first-child {
				td {
					color: var(--text);
					font-size: 12px;
					font-weight: 400;
					padding: 4px 8px;
				}
				td:nth-child(1) {
					width: 180px;
				}
				td:nth-child(3) {
					width: 220px;
				}
				td:nth-child(4) {
					width: 220px;
				}
			}
			tbody tr:not(:first-child) {
				td[rowspan] {
					color: var(--thead);
					&:first-child {
						text-transform: uppercase;
						font-weight: 500;
					}
				}
				td:not([rowspan]) + td:not([rowspan]) {
					color: var(--thead);
				}
				&:hover {
					td:not([rowspan]) {
						background: var(--border);
					}
				}
			}
			th,
			td {
				border: 1px solid var(--border);
				transition: all .3s;
				cursor: pointer;
			}
			tfoot {
				td {
					border: unset;
					background: var(--bg);
					color: var(--text);
					text-align: start;
				}
				span {
					color: var(--hover);
					text-decoration: underline;
				}
			}
		}
		.price_accrd__plus {
			background: unset;
		}
	}
	&__two {
		position: sticky;
		top: 68px;
		flex: 1 1 100px;
		th {
			background: var(--alert);
			color: var(--bg);
		}
		tr:nth-child(2n) {
			background: var(--tabhead);
		}
	}

	thead,
	tfoot {
		font-size: calc(12px + 2 * (100vw - 320px) / 960);
		@media (min-width: 1280px) {
			font-size: 14px;
		}
	}
}
