.numbers {
	margin-top: 68px;
	&__list {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
		text-align: center;
		flex: 1 1 180px;
	}
	&__icon {
		font-size: 2rem;
		color: var(--hover);
	}
	&__number {
		font-size: 2rem;
		color: var(--hover);
	}
	&__name {
		font-size: 1rem;
		padding-bottom: 12px;
		font-weight: 600;
	}
	&__text {
		font-size: 0.9rem;
	}
}