.author_swiper {
	height: 500px;
	// width: 800px;
	&__container {
		display: flex;
		justify-content: center;
		width: 33%;
		transition: all .3s ease;

		@media (max-width: 1024px) {
			width:40%;
		}
		@media (max-width: 920px) {
			width:50%;
		}
		@media (max-width: 768px) {
			width:60%;
		}
		@media (max-width: 640px) {
			width:70%;
		}
		@media (max-width: 480px) {
			width:100%;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
		margin: 30px 15px;
		height: calc(100% - 60px);
		align-items: center;
		justify-content: center;

		span {
			color: var(--hover);
			font-weight: 600;
		}
	}
	&__item_title {
		display: grid;
		grid-template-rows: 32px 32px 32px auto;
		grid-template-columns: 96px auto;
		transition: all .3s ease;
		width: 100%;
		gap: 0px 16px;
	}
	&__item_table {
		width: 100%;
		hr ~ hr {
			background: var(--hover);
		}
	}
	&__item_list {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		width: 100%;

		hr {
			background: var(--bg-wave);
		}
		& > div:first-of-type {
			color: var(--hover);
			width: 100%;
		}
		div + div {
			background: var(--border);
			color: var(--taccent);
			padding: 4px 8px;
			border-radius: 4px;
			font-size: 12px;
		}
	}
	&__photo {
		grid-row: 1/4;
		// padding: 4px;
		border-radius: 50%;
		box-shadow: 0px 2px 8px 4px var(--box-shadow);
		background: var(--border);
		img {
			object-fit: cover;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	&__stars {
		display: flex;
		align-items: center;
		color: var(--stars);

		p {
			color: var(--thead);
		}
	}

	.swiper-button-prev::after, .swiper-button-next::after {
		font-size: 24px;
	}
	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 0px;
	}
	.swiper-pagination-bullet-active {
		background: var(--swiper-pagination-color, var(--hover));
	}
	.swiper-button-prev, .swiper-button-next {
		color: var(--swiper-navigation-color, var(--hover));
	}
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 0px;
	}
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: 0px;
	}
}