.author_swiper {
	// height: 600px;
	// width: 800px;
	&__cont {
		display: flex;
		justify-content: center;
		width: 25%;
		transition: all 0.3s ease;
		padding: 30px 12px;
		height: unset;

		@media (max-width: 1024px) {
			width: 40%;
		}
		@media (max-width: 920px) {
			width: 50%;
		}
		@media (max-width: 768px) {
			width: 60%;
		}
		@media (max-width: 640px) {
			width: 70%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: stretch;
		padding: 12px 8px;
		border-radius: 8px;
		gap : 8px;
		p {
			font-size: 12px;
			font-weight: 400px;
			margin: 0;
		}
	}
	&__title {
		display: grid;
		grid-template-rows: 32px 32px 32px auto;
		grid-template-columns: 96px auto;
		transition: all 0.3s ease;
		width: 100%;
		gap: 0px 16px;
		padding: 0 8px;
	}
	&__block {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		width: 100%;
		background: var(--pop-bg);
		padding: 8px;
		border-radius: 12px;

		div {
			display: flex;
			gap: 8px;
			align-items: center;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		padding: 0 8px;
		div:first-of-type {
			display: flex;
			align-items: center;
			width: 100%;
		}
		span {
			background: var(--pop-bg);
			margin: 2px;
			border-radius: 4px;
			padding: 4px 8px;
			color: var(--thead);
			font-size: 12px;
		}
	}
	&__block,
	&__list {
		img {
			width: 24px;
			height: 24px;
		}
	}
	&__photo {
		grid-row: 1/4;
		// padding: 4px;
		border-radius: 50%;
		padding: 4px;
		box-shadow: inset 0 2px 12px 0px var(--box-shadow);
		img {
			object-fit: cover;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	&__stars {
		display: flex;
		align-items: center;
		color: var(--stars);

		p {
			color: var(--thead);
		}
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		font-size: 24px;
	}
	.swiper-pagination-fraction,
	.swiper-pagination-custom,
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 0px;
	}
	.swiper-pagination-bullet-active {
		background: var(--swiper-pagination-color, var(--hover));
	}
	.swiper-button-prev,
	.swiper-button-next {
		color: var(--swiper-navigation-color, var(--hover));
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		right: 0px;
	}
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 0px;
	}
}
